.body {
  background-color: rgb(4, 4, 54);
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* background-color: rgb(3, 3, 24); */
}

section {
  padding: 50px 0;
}
.main-btn {
  display: inline-block;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  padding: 10px 27px;
  background-color: transparent;
  border: 2px solid gray;
  color: wheat;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}
.main-btn:hover {
  background-color: rgb(240, 110, 110);
  border-color: wheat;
  color: white;
}
#home h1 {
  font-size: 54px;
  line-height: 68px;
  font-weight: 800;
  color: white;
  margin-bottom: 20px;
}
h1 span {
  color: rgb(221, 51, 51);
}
h2 {
  font-size: 50px;
  line-height: 1, 3;
  font-weight: 800;
  color: white;
  margin-bottom: 15px;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 19px;
}
#home h6 {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
  color: gray;
  margin-bottom: 20px;
}
p {
  color: gray;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 400;
}
.subtitle {
  display: inline-block;
  font-family: 600;
  letter-spacing: 0.5px;
  line-height: 18px;
  font-size: 16px;
  margin-bottom: 12px;
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button {
  outline: none !important;
  box-shadow: none !important;
}
/* 2navbar */
.header_wrapper .navbar {
  padding: 15px 0;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
}
.header_wrapper .navbar-brand img {
  max-width: 120px;
  height: auto;
}
.header_wrapper .navbar-toggler {
  border: 0;
  color: white;
  line-height: 2px;
}
.header_wrapper .navbar-toggler {
  box-shadow: none;
}
.navbar-toggler-icon {
  background-color: white;
}
.header_wrapper .nav-item {
  margin: 0 10px;
}
.header_wrapper .nav-item .nav-link {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: wheat;
  display: inline-block;
}
.header_wrapper .nav-item .nav-link::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(240, 110, 110);
  transition: 0.3s;
  bottom: 0;
}

.header_wrapper .nav-item .nav-link.nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover:after {
  color: white;
  width: 100%;
}
.header_wrapper .nav-item .nav-link.nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
  color: white;
}
.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(1, 1, 31);
  -webkit-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  -moz-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  -o-box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
  box-shadow: 0 4px 6px 0 rgb(12, 0, 46, 0.05);
}
.header-scrolled .nav-item .nav-link.nav-link.active,
.header-scrolled .nav-item .nav-link:hover {
  color: white;
}

/*3 banner */

.banner_wrapper {
  width: 100%;
  height: auto;
  min-height: 650px;
  background-image: url(/images/bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 0 100px 0;
}
/*  about*/
.about_wrapper ul.nav-pills {
  border: 1px solid red;
  border-radius: 50px;
}
.about_wrapper ul li .nav-link {
  border-radius: 50px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.45s cubic-bezier(0, 0, 0, 2, 1);
  display: inline-block;
  color: gray;
  border: 0;
}
.about_wrapper ul li .nav-link.active {
  background-color: red;
}
.about_wrapper .single-progress {
  margin-top: 26px;
  position: relative;
  overflow: hidden;
}
.about_wrapper .single-progress .progress {
  height: 4px;
  border-radius: 4px;
  box-shadow: none;
  background-color: white;
  overflow: visible;
}
.about_wrapper .single-progress .progress-bar {
  background: linear-gradient(to right, red, blue);
}
.about_wrapper .single-progress h6 {
  text-align: left;
  color: rgba(255, 255, 255, 0.63);
}
.about_wrapper .single-progress .label {
  position: absolute;
  right: 0;
  top: 0;
  color: rgba(255, 255, 255, 0.596);
  font-size: 15px;
}
.about_wrapper .tab-pane li {
  color: rgba(255, 255, 255, 0.795);
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 300;
  list-style: none;
}
.about_wrapper .tab-pane li a {
  font-weight: 500;
  display: block;
  color: rgba(255, 255, 255, 0.788);
  text-decoration: none;
}

/* SERVICES */
.service_wrapper .card {
  background-color: rgba(1, 1, 7, 0.445);
  cursor: pointer;
  transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
  box-shadow: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
}
.service_wrapper h3 {
  color: white;
}
.service_wrapper .card:hover {
  box-shadow: 0 2px 70px 0 rgb(255 71 102 / 5%);
  transform: translateY(-10px);
}

/* portfolio */
.portfolio_wrapper .card {
  height: 100%;
  min-height: 350px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.315);
  cursor: pointer;
  box-shadow: 0 0 16px 4px rgb(4, 4, 54);
}
.portfolio_wrapper .card span {
  transition: background-position 5s ease-in 0s;
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: cover;
}
.portfolio_wrapper .card:hover span {
  background-position: bottom center;
}
/* contact */
.contact_wrapper .form-control,
.contact_wrapper textarea {
  background-color: transparent;
  border-color: gray;
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 20px;
}
.contact_wrapper .form-control:hover,
.contact_wrapper textarea:hover,
.contact_wrapper .form-control:focus,
.contact_wrapper textarea:focus {
  border-color: rgba(255, 0, 0, 0.712);
  color: white;
  background-color: rgb(4, 4, 54);
  font-size: 18px;
}
.contact_wrapper .call_details {
  color: gray;
}
.contact_wrapper .call_details a {
  font-weight: 700;
  color: gray;
}
/* footer */
.footer_wrapper {
  background-color: rgba(3, 3, 19, 0.377);
  padding: 20px 0;
}
.footer_wrapper .footer-logo img {
  max-width: 120px;
  height: auto;
}
.footer_wrapper .social-icon li {
  margin: 7px;
}

.footer_wrapper .social-icon li a {
  width: 35px;
  height: 35px;
  line-height: 30px;
  font-size: 14px;
  display: inline-block;
  border: 2px solid gray;
  color: gray;
  text-align: center;
  border-radius: 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer_wrapper .social-icon li a:hover {
  background-color: rgb(231, 97, 97);
  border: rgb(226, 80, 80);
  color: white;
  box-shadow: 0 10px 15px 0 rgb(0 0 0 /100);
  transform: translateY(-3px);
}
.footer_wrapper .copyright-text p {
  font-size: 11px;
  line-height: 20px;
}
.footer_wrapper .copyright-text a {
  color: rgb(231, 97, 97);
  text-decoration: none;
}
